# Moved from requirements/jupyter/requirements.txt
numpy
pandas
matplotlib
psycopg
psycopg-binary
pymongo
tabulate
seaborn
scikit_learn
xgboost
statsmodels
chardet

click
np_utils
graphviz
catboost
vecstack

plotly
lightgbm
openpyxl
joblib

urllib3
requests
python-dotenv
panel
ipython
opencv-python

pikepdf
pypdf
ipywidgets
pyspark
folium
ipyleaflet
gdown
neo4j
psycopg2-binary
dash-ag-grid
cartopy
pycountry
pgvector
tensorflow